* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
  position: relative;
  display: flex;
  justify-content: center;
}

#main img {
  height: 600px;
}

#scroll-div {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
